Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
src/inc/stamp-h1
m4/
doc/
shell
interpreter_tests
.deps
.dirstamp
*.o
*.a
*.log
*.trs
*.png
*.dot
*.ps
analysis.txt
.bookmarks
*~
\#*