Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.cache
config/
configure
libtool
src/inc/stamp-h1
m4/
doc/
fl
dbg
rel
Doxyfile
*.tar.gz
fl-*
interpreter_tests
.deps
.dirstamp
*.o
*.a
*.log
*.trs
*.png
*.dot
*.ps
analysis.txt
.bookmarks
*~
\#*